API_KEY={your-api-key}

DB_PORT=3306
DB_USERNAME={your-db-username}
DB_PASSWORD={your-db-password}
DB_DATABASE={your-db-database}

REDIS_HOST={your-redis-host}
REDIS_PORT={your-redis-port}

PORT={your-port}

JWT_PUBLIC_KEY={your-jwt-public-key}

ELASTICSEARCH_NODE={your-elasticsearch-node}